<div class="footer">
    <div class="wrap">
        <div class="copy_right">
            <p>&copy; Copyright {%now 'Y' %}  &middot; All rights reserverd | Site by  <a href="http://www.factorymarket.sn/contact.php" target="_blank">LittleDev</a> </p>
        </div>
        <div class="footer-nav">
            <ul>
                <li><a href="#">Terms of Use</a> : </li>
                <li><a href="#">Privacy Policy</a> : </li>
                <li><a href="contact.html">Contact Us</a> : </li>
                <li><a href="#">Sitemap</a></li>
            </ul>
        </div>
    </div>
</div>